{% extends '../extends/base.html' %}

{% block title %}
    <title>Create News-BOOM CMS</title>
{% endblock%}

{% block body %}
    <form name="news" method="post" id="news" enctype="multipart/form-data">
        {% csrf_token%}
        <table>
            <tr>
                <th><label for="title">Title</label></th>
                <th><input name="title" id="title" type="text"></th>
            </tr>
            <tr>
                <th><label for="image">Image</label></th>
                <th><input type="file" name="image" id="image"></th>
            </tr>
            <tr>
                <th><label for="article">Article</label></th>
                <th><textarea name="article" form="news" id="article" cols="20" rows="10"></textarea></th>
            </tr>
            <tr>
                <th></th>
                <th><input type="submit" value="Create!"></th>
            </tr>
        </table>
    </form>
{% endblock%}