<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    {% endblock%}
</head>
<body>
<a href="home">Home</a>
<!-- the login link should disappear after logged in -->
<a href="/login/">Login</a>
<a href="/profile/">Profile</a>
<a href="/market/">Market</a>
<a href="/logout/">Logout</a>
{% block body %}
{% endblock %}
</body>
</html>

<script>
    // get the content of cookie
    // see if there are sessionID
    // change the useraction to login or to profile
</script>