{% extends '../extends/base.html'%}

{% block title%}
<title>Profile-BOOM</title>
{% endblock %}

{% block body %}
<h1>Personal Information</h1>
<table>
    <tr>
        <th><img src="/media/{{ userimage }}" alt="{{ user.username }}" height="100" width="100"></th>
    </tr>
    <tr>
        <th>{{ user.username }}</th>
    </tr>
</table>
<h1>Thing Information</h1>
<a href="{% url 'boom-creatething' %}">Create Thing!</a>
{% for thing in thing_list %}
<table>
    <tr>
        <th><img src="/media/{{ thing.image }}" alt="{{ thing.name }}" height="100" width="100"></th>
    </tr>
    <tr>
        <th>{{ thing.name }}</th>
    </tr>
</table>
{% endfor %}
<h1>Printer Information</h1>
<!-- add printer model and app -->

{% endblock %}