{% extends '../extends/base.html' %}

{% block title %}
<title> Register-BOOM </title>
{% endblock%}

{% block body %}
<form name="register" method="post">
    {% csrf_token %}
    <label for="username">UserName: </label>
    <input name="username" id="username" type="text">
    <label for="email">Email: </label>
    <input name='email' id="email" type="email">
    <label for="password">Password: </label>
    <input name='password' id="password" type="password">
    <input type="submit" value="Register">
</form>
{% endblock %}